body{
    background-image: url("../img/backgrounds/fondo2.png");
    background-size: cover;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
}

main{
    flex: 1 0 auto;
}

.login_form
{
    
    padding-top: 10%;
    background-color: white;
    height: calc(auto+20px);
    
}
.espacio{
    padding-top: 100px;
    border-radius: 15px;
}
.bordeado{
    border-radius: 50px;
}
.espacio2{
    padding-top: 100px;
    padding-bottom: 100px
}
.btn{
    margin-bottom: 20px;
}

h3{
 color: rgb(58, 68, 58)   ;
 margin: 0;
 padding: 0;

 margin-bottom: 22px;

 padding-top: 0px;
}
    
