header, main, footer {
    padding-left: 300px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  #space{

    padding-left: 30px;
  }

  .image{
    max-height: 50px;
    max-width: 50px;
  }
  .image2{
    height: 300px;
    width: 260px;

    padding-left: 20%;
    margin-top: 0%;
    padding-right: 0%;
  }
  .iconela{

    padding-left: 50px;
  }

  #space2{
    padding-right: 10px
  }

  .container-login{
    
    background-color: rgba(255,255,255,.87);
    border-radius: 4px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #333;
}
.font-cover{
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-color: rgb(62, 194, 187);
}

#login{
  background-image: url(../img/wallpapers/fondo-material.jpg);
}

.tamanio{

  width: 113px;

}

.espaciado{

  margin-top: 20px

  
}





